body {
  background-color: aquamarine;
}

#division01 {
  background-color: blue;
}

#division02 {
  background-color: green;
}

img {
  height: 150px;
  border-style: dotted;
  border-width: 5px;
  padding-left: 50px;
  padding-bottom: 50px;
}

#image2 {
  width: 700px;
}

#my-paragraph{
  color:blueviolet;
}

h1{
  padding-left: 20px;
}
