body {
  background: linear-gradient(#ffffff 50%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 53%, rgba(255, 255, 255, 0) 0) 0 0, radial-gradient(circle closest-side, #FFFFFF 50%, rgba(255, 255, 255, 0) 0) 55px 0 #48B;
  background-size: 110px 200px;
  background-repeat: repeat-x;
  font-family: 'Arvo';
}

h1 {
  margin: 20px 0 80px 0;
  font-family: 'Anton', sans-serif;
}

h4 {
  font-family: 'Anton', sans-serif;
}

.card {
  height: 100%;
}